{% load i18n %}
<div class="signature_container" data-id="{{p.id}}">
    <div class="pre_selection_container">
        <div class="signature_button addremove_signature oppose">
            <span class="fa fa-thumbs-down"></span> {% trans 'Oppose' %}!
        </div>

        <div class="signature_button_separator"></div>
        <div class="signature_button addremove_signature endorse">
            <span class="fa fa-thumbs-up"></span> {% trans 'Endorse' %}!
        </div>
    </div>

    <div class="post_selection_container">
        <label for="show_public_{{ p.id }}">{% trans 'Show signature publicly' %}?</label>
        <input type="checkbox" class="show_public" id="show_public_{{ p.id }}" value="1" />
        <input type="hidden" class="stance" value="" />

        <div class="signature_button_separator"></div>
        <div class="signature_button confirm_signature_button addremove_signature">
            <span class="fa fa-check-circle"></span> {% trans 'Confirm Signature' %}
        </div>

        <div class="signature_button_separator"></div>
        <div class="signature_button cancel_signature_button signature_cancel">
            <span class="fa fa-times-circle"></span> {% trans 'Cancel' %}
        </div>
    </div>
</div>

