{% load i18n %}
<div class="signature_container unsign" data-id="{{p.id}}">
    <div class="signature_button addremove_signature unsign">
        {% if stance == 'oppose' %}
            <span class="fa fa-pencil-square"></span> {% trans 'Remove opposition' %} <small>(<span class="fa fa-thumbs-down"></span>)
          </small>
        {% else %}
            {% if stance == 'endorse' %}
                <span class="fa fa-pencil-square"></span> {% trans 'Remove endorsement' %} <small>(<span class="fa fa-thumbs-up"></span>)</small>
            {% endif %}
        {% endif %}
    </div>
</div>
