{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans page_title %}{% endblock %}

{% block css %}
{{block.super}}
    <link href="{% static 'petition/css/jquery.dataTables.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
{{block.super}}
    <script src="{% static 'petition/js/petition.js' %}" type="text/javascript"></script>
    <script src="{% static 'petition/js/js.cookie.js' %}" type="text/javascript"></script>
    <script src="{% static 'petition/js/jquery.sharrre.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'petition/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#unconfirmed-signatures').dataTable( {
                "bProcessing": true,
                "bServerSide": true,
                "bFilter": false,
                "sAjaxSource": '{{ INSTANCE_URL }}{{ unconfirmed_signatures_url }}',
                "aoColumns": [
                    null,
                    {"sWidth": "25%", "sClass": "center"},
                    {"sWidth": "25%", "sClass": "center"}
                ],
                "aoColumnDefs": [ {
                    "aTargets": [ 0 ],
                    "mRender": function ( data, type, full ) {
                        thumb = '';
                        if (data.signature_stance == 'oppose') {
                            thumb = '<i class="fa fa-thumbs-down"></i>';
                        }
                        else if (data.signature_stance == 'endorse') {
                            thumb = '<i class="fa fa-thumbs-up"></i>';
                        }
                        return thumb+'<a href="/frumvarp/'+data.petition_id+'/">'+data.petition_name+'</a>';
                    }
                } ],
                "oLanguage": {
                    "sEmptyTable": "{% trans 'No data available in table' %}",
                    "oPaginate": {
                        "sPrevious": "&#xf100;",
                        "sNext": "&#xf101;",
                        "sFirst": "&#xf104;",
                        "sLast": "&#xf105;"
                    },
                    "sInfo": "{% trans 'Showing _START_ to _END_ of _TOTAL_ signatures' %}",
                    "sLengthMenu": "{% trans 'Show _MENU_ entries' %}"
                },
                "sPaginationType": "full_numbers",
                "bInfo": true,
                "bLengthChange": false,
                "aaSorting": [[ 2, "desc" ]]
            } );
        } );
    </script>    
{% endblock %}

{% block content %}
    <div id="my_page_wrapper" class="container-fluid">    

        <div class-"row-fluid">

            <h2><i class="fa fa-pencil-square-o"></i> {% trans 'My confirmed Signatures' %}</h2>
                
            <table id="signatures">
                
                <thead>
                    <th><h2>{% trans 'Name' %}</h2></th>
                    <th><h2>{% trans 'Shown Publicly' %}</h2></th>
                    <th><h2>{% trans 'Date' %}</h2></th>
                </thead>

                <tbody>
                </tbody>

            </table>
        
        </div>

    </div>
{% endblock %}
